header {
	background: #2c3e50;
}

.flex-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	height: 10rem;
	width: 10rem;
}

.header-text{
	color: white;
}
 
main {
	font-size: 1.2rem;
	margin-left: 1rem;
	margin-right: 1rem;
}


.nav-tabs .nav-link {
	border-top-right-radius: .75rem;
	background-color: #000000;
	color: white;
}

.nav-item {
	margin-left: .5rem;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	position:fixed;
   	left:0px;
  	bottom:0px;
   	height:30px;
  	width:100%;
}
.small-text {
	font-size: .75rem;
}